.App {
  text-align: center;
}

button{
  background-color: rgb(198, 147, 147);
}

.theme-container{
  margin:40px 20px;
}

.changeTheme-btn, .counter-btn{
  border-radius: 5px;
  padding: 6px;
}

.counter-number{
  font-size: 50px;
  margin: 20px;
  color: #fff;
}

.counter-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(60, 63, 149);
  margin: 20px;
  border-radius: 5px;
  height: 90vh;
    
}
